<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FreengyServerHttpAddress" value="http://localhost:12345"/>
    <add key="FreengyServerHttpsAddress" value="https://localhost:22345"/>
    <add key="HelloActionName" value="hello"/>
    <add key="RegistrationActionName" value="register"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>