<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FreengyServerAddress" value="http://localhost:44000"/>
    <add key="RegistrationControllerName" value="Accounts"/>
    <add key="RegistrationActionName" value="Register"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
