<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <!--
    <add key="FreengyServerHttpAddress" value="http://192.168.221.170:12345" />
    <add key="FreengyServerHttpAddress" value="http://192.168.78.53:12345" />
      -->
      <add key="FreengyServerHttpAddress" value="http://localhost:12345" />
    <add key="FreengyServerHttpsAddress" value="https://localhost:22345" />
    <add key="LogInActionName" value="login" />
    <add key="HelloActionName" value="hello" />
    <add key="SearchActionName" value="search" />
    <add key="UsersActionName" value="users" />
    <add key="RequestActionName" value="request" />
    <add key="FriendActionName" value="friend" />
    <add key="RegistrationActionName" value="register" />
    <add key="ReplyActionName" value="reply" />
    <add key="ChatActionName" value="chat" />
    <add key="FromServerActionName" value="fromserver" />
    <add key="InformActionName" value="inform" />
    <add key="StateActionName" value="state" />
    <add key="EditActionName" value="edit" />
    <add key="AccountActionName" value="account" />
    <add key="SyncActionName" value="sync" />
    <add key="ExpActionName" value="exp" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>